body {
  background-color: #cef9f2;
  padding: 0;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  width: 75%;
  height: 85vh;
  background-color: #655a7c;
  margin: 0 auto;
  border-radius: 25px;
}
.head {
  font-size: 2.5rem;
  padding: 1.5rem;
  color: #cef9f2;
}
input {
  width: 55%;
  padding: 1rem;
}
.output {
  margin: 1rem auto;
  width: 30%;
  padding: 0.5rem;
  border: 3px solid #cef9f2;
}
.container {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.emoji {
  cursor: pointer;
  font-size: 2.2rem;
  padding: 2rem;
}
